pcb/fantimote.kicad_pcb
pcb/fantimote.kicad_pcb-bak
firmware/adxl_testing
firmware/fantimote_atmelStudio/fantimote_hardwaretest/.vs
firmware/fantimote_atmelStudio/fantimote_hardwaretest/fantimote_hardwaretest/Debug
./pcb/
pcb/
